{% extends "simple_base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="container-sm w-50">
    <h1>Add spectrogram</h1>

    {% if error_popup_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_popup_message }}
        </div>
    {% endif %} 

    <form action="/add_spectrogram/" method="post">
        {% csrf_token %}
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
        {% endfor %}

        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div> 
        {% endif %}

        {% for field in form.visible_fields %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:'form-control' }}
                {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
        {% endfor %}

        <div class="form-group">
            <button type="submit" class="btn button-bg">Generate and add spectrogram!</button>
        </div>
    </form>
</div>
{% endblock %}