{% extends "main_base.html" %}

{% load widget_tweaks %}
{% load ms_to_time %}

{% block menucontent %}
    {% if user.is_authenticated %}
        <div class="user-data">
            <p>Logged in as {{ user.get_username }}</p>
        </div>
        <a class="btn button-bg" href="/logout/">Log out</a>
    {% else %}
        <form action="/login/" method="post">
            {% csrf_token %}
            {% for hidden_field in login_form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            {% if login_form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in login_form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            {% for field in login_form.visible_fields %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field|add_class:'form-control' }}
                    {% for error in field.errors %}
                        <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endfor %}

            <div class="form-group">
                <button type="submit" class="btn button-bg"><b>Login</b></button>
                <a href="/register/" class="btn button-bg align-right">Register</a>
            </div>
        </form>
    {% endif %}
{% endblock menucontent %}

{% block pagecontent %}
    {% if error_popup_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_popup_message }}
        </div>
    {% endif %} 

    {% if info_popup_message %}
        <div class="alert alert-primary" role="alert">
            {{ info_popup_message }}
        </div>
    {% endif %}

    {% if spectrogram_list %}
        {% for spectrum in spectrogram_list %}
            <div class="spectrum-container">
                <div class="spectrum-info">
                    <div class="spectrum-main-info">
                        <span class="spectrum-title">{{ spectrum.title }}</span> by {{ spectrum.author.username }}
                    </div>
                    <div class="spectrum-additional-info">
                        Generated {{ spectrum.date_added }} from <a href="{{ spectrum.video_url }}&t={{ spectrum.timeframe_start|mstosec }}">{{ spectrum.video_url }}</a> (from {{ spectrum.timeframe_start|mstotime }} to {{ spectrum.timeframe_end|mstotime }})
                    </div>
                </div>
                <div class="spectrum-image-container">
                    <img src="/media/{{ spectrum.image_file }}" class="img-fluid rounded">
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock pagecontent %}