{% extends "bootstrap_base.html" %}

{% block body %}
<div class="container-fluid content-bg">
    <nav class="navbar navbar-expand menu-bg sticky-top">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link btn button-bg navbar-button" href="/">Home page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn button-bg navbar-button" href="/add_spectrogram">Add spectrogram</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn button-bg navbar-button" href="/top" id="topRatedSpectrums" role="button">
                Top rated spectrums
                </a>
            </li>
        </ul>
    </nav>

   {% block content %}{% endblock content %} 
</div>
{% endblock body %}