{% extends "main_base.html" %}

{% load widget_tweaks %}
{% load ms_to_time %}

{% block menucontent %}
    {% if user.is_authenticated %}
        <div class="user-data">
            <p>Logged in as {{ user.get_username }}</p>
        </div>
        <a class="btn button-bg" href="/logout/">Log out</a>
    {% endif %}
{% endblock menucontent %}

{% block pagecontent %}
<h2 class="text-center">User settings</h2>
    <form action="/user" method="post">
    {% csrf_token %}
        {% for hidden_field in user_edit_form.hidden_fields %}
            {{ hidden_field }}
        {% endfor %}


        {% if user_edit_form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in user_edit_form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %} 

        {% for field in user_edit_form.visible_fields %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:'form-control' }}
                {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
        {% endfor %}

        <div class="form-group">
            <button type="submit" class="btn button-bg">Save changes</button>
        </div>
    </form>

<h2 class="text-center">Manage account</h2>

<form action="/user/delete" method="post">
{% csrf_token %}
    <div class="form-group">
        <button type="submit" class="btn button-bg">DELETE ACCOUNT</button>
    </div>
</form>

<h2 class="text-center">Spectrograms</h2>

{% if spectrograms_data %}
    <div class="spectrogram-user-view">
        <table class="table table-dark">
            <thead>
                <th scope="col">Preview</th>
                <th scope="col">Title</th>
                <th scope="col">Added</th>
                <th scope="col">YouTube URL</th>
                <th scope="col">Audio timestamps</th>
                <th scope="col">Stars</th>
                <th scope="col">Action</th>
            </thead>
            <tbody>
                {% for spectrogram, votes in spectrograms_data %}
                    <tr>
                        <td><a href="/media/{{ spectrogram.image_file }}"><img src="/media/{{ spectrogram.image_file }}" height="50" width="100"></a></td>
                        <td>{{ spectrogram.title }}</td>
                        <td>{{ spectrogram.date_added }}</td>
                        <td><a href="{{ spectrogram.video_url }}&t={{ spectrogram.timeframe_start|mstosec }}">{{ spectrogram.video_url }}</a></td>
                        <td>From {{ spectrogram.timeframe_start|mstotime }} to {{ spectrogram.timeframe_end|mstotime }}</td>
                        <td>{{ votes }}</td>
                        <td>
                            <button type="button" class="btn button-bg userpanel-btn" data-toggle="modal" data-target="#editSpectrogramModal" data-spectrogram-id="{{ spectrogram.id }}" data-spectrogramtitle="{{ spectrogram.title }}">Edit</button>
                            <button type="button" class="btn button-bg userpanel-btn" data-toggle="modal" data-target="#deleteSpectrogramModal" data-spectrogram-id="{{ spectrogram.id }}" data-spectrogramtitle="{{ spectrogram.title }}">Delete</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

<div class="modal fade" id="deleteSpectrogramModal" tabindex="-1" role="dialog" aria-labelledby="deleteSpectrogramModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteSpectrogramModalLabel">Delete spectrogram</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="delete-warning">Are you sure you want to delete spectrogram &quot;<span id="spectrogram-title"></span>&quot;?</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn button-bg" data-dismiss="modal">No</button>
                <button type="button" class="btn button-bg" id="spectrogram-delete-btn" action="#">Yes, delete it</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editSpectrogramModal" tabindex="-1" role="dialog" aria-labelledby="editSpectrogramModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSpectrogramModalLabel">Edit spectrogram</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="spectrogram-edit-form" name="spectrogram-edit-form" onsubmit="#">
                    <div class="form-group">
                        <label for="newSpectrogramTitle" class="col-form-label">New title:</label>
                        <input type="text" class="form-control" id="newSpectrogramTitle" name="newSpectrogramTitle"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn button-bg" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn button-bg" id="spectrogram-edit-btn" action="#">Apply edits</button>
            </div>
        </div>
    </div>
</div>

<script>
$('#deleteSpectrogramModal').on('show.bs.modal', function(event) {
    let button = $(event.relatedTarget)
    let spectrogram_id = button.data('spectrogram-id')
    let spectrogram_title = button.data('spectrogramtitle')
    let modal = $(this)

    modal.find('.modal-body #spectrogram-title').text(spectrogram_title)
    modal.find('.modal-footer #spectrogram-delete-btn').attr('onclick', `delete_spectrogram(${spectrogram_id});`)
})

$('#editSpectrogramModal').on('show.bs.modal', function(event) {
    let button = $(event.relatedTarget)
    let spectrogram_id = button.data('spectrogram-id')
    let spectrogram_title = button.data('spectrogramtitle')
    let modal = $(this)

    modal.find('.modal-body #newSpectrogramTitle').val(spectrogram_title)
    modal.find('.modal-body #spectrogram-edit-form').attr('onsubmit', `edit_spectrogram(${spectrogram_id}, document.getElementById('newSpectrogramTitle').value);`)
    modal.find('.modal-footer #spectrogram-edit-btn').attr('onclick', `edit_spectrogram(${spectrogram_id}, document.getElementById('newSpectrogramTitle').value);`)
})
</script>
{% endblock pagecontent %}
