body {
    color: #acacac;
}

.btn {
    color: #383838;
}

.page-title {
    padding-bottom: 10px;
}

.content-bg {
    background-color: #2D132C;
    min-height: 100vh;
}

.menu-bg {
    background-color: #801336;
}

.button-bg {
    background-color: #C72C41;
}

.header-font {
    color: #EE4540;
    text-align: center;
}

.menu-box {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
}

.main-page-content {
    margin-top: 15px;
    margin-bottom: 15px;
}

.navbar-button {
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-nav > li > .dropdown-menu a:hover {
    background-color: #EE4540;
}

.navbar {
    border-radius: 5px;
}

.alert-danger {
    color: #300a16;
    background-color: #c41e53;
    border-color: #c41e53;
    margin-top: 1rem;
}

.align-right {
    float: right;
    clear: right;
}

.width-50 {
    width: 50%
}

.spectrum-container {
    width: 95%;
    padding: 20px 5% 20px 5%;
    margin: 0 auto;
}

.spectrum-info {
    font-family: 'Roboto Mono', monospace;
}

.spectrum-title {
    font-weight: bold;
    font-size: 30px;
}

.spectrum-additional-info {
    font-size: small;
}

.spectrum-fav {
    margin-top: 15px;
    margin-right: 5px;
}

.spectrum-fav-used {
    background-color: #8230ee;
}

.userpanel-btn {
    margin-left: 5px;
    margin-right: 5px;
}